.box{
  border: 50px solid red ;
  padding: 50px;
  width: 200px;
  margin-bottom: 20px;
}

.green{
  border: 50px solid green;
  padding: 50px;
  width: 200px;
  margin-bottom: 20px;
}

.blue{
  border: 50px solid blue;
  padding: 50px;
  width: 200px;

}
